<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ dir.prompt }}</title>
</head>
<body>
    <div style="margin: 20px;">
    <h3>{{ dir.prompt }}</h3>

    <h3><a href="/anything/{{ season }}">Season view</a></h3>
    </div>

    <div class="directory" style="display: flex; flex-wrap: wrap; flex-direction: row;">
        {% for img in images %}
            <div style="display: flex; flex-direction: column; margin: 20px;">
                <img src="/media/anything/{{ season }}/{{ dir.name }}/{{ img.name }}" alt="{{ dir.prompt }}">
            </div>
        {% endfor %}
    </div>


</body>
</html>