<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anything you want</title>
</head>
<body>

    <h3>Images were created with <a href="https://huggingface.co/Linaqruf/anything-v3.0">Anything V3</a> model</h3>

    {% for s in seasons %}
    <p>
        <a href="/anything/{{ s.name }}">{{ s.name }}</a>
    </p>
    {% endfor %}

</body>
</html>