<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ season_name }}</title>
</head>
<body>
    
    <div style="margin: 20px;">
    <h3>{{ season_name }}</h3>

    <h3><a href="/anything/">Season list</a></h3>

    {% for d in directories %}
        <p>
            <a href="/anything/{{ season_name }}/{{ d.name }}/">{{ d.prompt }}</a>
        </p>
    {% endfor %}
    </div>

</body>
</html>