<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ artist }}</title>
    <style>
        img { width: 500px }
    </style>     
</head>

<body>

    {% for art in works %}
    <p>
        <img src="{{ art.url }}" alt="{{ art.desc }}">
        <br>
        <b>{{ art.year }}</b> - <a href="{{ art.url }}">{{ art.desc }}</a>
    </p>
    {% endfor %}

</body>

</html>